.content {
    padding: 10%;
}
.content h4 {
    font-size: 180%;
    text-align: center;
    font-weight: bold;
    color: #4099a9;
}
.content p {
    color: grey;
}
li {
    color: grey;
}
@media screen and (max-width: 768px) {
    .content {
        margin-top: 20%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .content {
        margin-top: 5%;
    }
}
