.price_top {
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
}
.price_top h1 {
    font-weight: bold;
    color: #258b9e;
    font-size: 270%;
    margin-bottom: 2%;
}
.price_top p {
    color: grey;
    font-size: 110%;
}
.price_top label {
    color: grey;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 2%;
}
.price_top input {
    padding: 1%;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 2%;
}
.price_top button {
    width: 20%;
    color: #fff;
}
.price_top button:hover {
    opacity: 0.8;
}
.price_cards {
    display: flex;
    justify-content: space-evenly;
}
.card_left,
.card_right {
    border: 1px solid lightgray;
    padding: 3%;
    margin: 3%;
    flex: 50%;
    border-radius: 10px;
    background-image: linear-gradient(
        to bottom,
        #ffffff,
        #fafafc,
        #f5f6f8,
        #eff1f5,
        #e9edf2
    );
}
.amount_list {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.price_meet {
    background: #258b9e;
}
.card_left h4 {
    color: #1b6775;
    text-align: center;
    font-weight: bold;
}
.card_right h4 {
    color: #1b6775;
    text-align: center;
    font-weight: bold;
}
.price_meet {
    display: flex;
    padding: 5%;
    justify-content: space-evenly;
}
.priceMeet_right img {
    width: 120%;
    padding: 2%;
}
.priceMeet_right,
.priceMeet_left {
    padding: 5%;
    flex: 50%;
}
.priceMeet_left h1 {
    color: #fff;
    font-size: 180%;
    margin-bottom: 5%;
    font-weight: bold;
}
.priceMeet_left p {
    color: #fff;
    font-size: 115%;
}
section {
    margin-top: 5%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.container1 {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.container1 h1 {
    font-size: 170%;
    color: #1b6775;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3%;
}
.accordion-item {
    background: #283042;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0.5rem 2px 0.5rem rgba(155, 148, 148, 0.1);
}
.accordion-link {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background: #283042;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.accordion-link i {
    color: #e7d5f7;
    padding: 0.5rem;
}
.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background: #212838;
    transition: max-height 650ms;
}
.answer::before {
    content: '';
    position: absolute;
    width: 0.6rem;
    height: 90%;
    background: #8fc460;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.6);
}
.answer p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.4rem;
    padding: 2rem;
}
.accordion-item:target .answer {
    max-height: 20rem;
}
.answer ul {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.4rem;
    padding: 2rem;
}
.price_request {
    padding: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.price_request h4 {
    font-weight: bold;
    color: #268c9f;
    margin-bottom: 2%;
    font-size: 180%;
}
.price_request input {
    padding: 1%;
    width: 40%;
    margin-bottom: 2%;
    border-radius: 10px;
    outline: none;
    border: 1px solid lightgray;
}
.price_request button {
    width: 20%;
}
@media screen and (max-width: 800px) {
    .price_cards {
        display: grid;
    }
    .price_request input {
        width: 100%;
    }
    .price_top input {
        width: 100%;
    }
    .price_meet {
        display: grid;
    }
    .answer p {
        font-size: 60%;
        display: flex;
        align-items: center;
    }
    .accordion-link {
        font-size: 90%;
    }
    .price_top input {
        width: 100%;
        padding: 3%;
    }
    .price_top button {
        width: 60%;
    }
    .price_request input {
        width: 100%;
        padding: 3%;
    }
    .price_request button {
        width: 60%;
    }
}
.price_toggle {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    align-items: center;
}
.names > p > span {
    padding-right: 5%;
    font-weight: bolder;
}
.names p {
    font-size: 100%;
    padding: 1%;
}
